+++
title = "Gin Web 框架"
linkTitle = ""
+++

{{< blocks/cover title="Gin Web 框架" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		学到更多 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/gin-gonic/gin/releases">
		下载 <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">对于 Go 最快的全功能的Web框架. Crystal clear.</p>
	<div class="mx-auto mt-5"/>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="white" %}}

**什么是Gin?**

Gin 是一个用 Golang 写的 web 框架 .

它具有一个有更好的性能 martini-like API , 高达40倍的速度.

如果你需要的性能和良好的生产, 你会喜欢Gin.

{{% /blocks/lead %}}

{{< blocks/section color="light" >}}

{{% blocks/feature icon="fa fa-tachometer-alt" title="快速" %}}
基数树的路由, 小内存占用. 没有反思. 可预测的性能API.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-bars" title="中间件支持" %}}
传入的HTTP请求可以由中间件和最终行动的链条来处理.
例如: Logger, Authorization, GZIP 和最终在DB发布消息.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-life-ring" title="Crash-free" %}}
Gin 可以抓取一个在HTTP请求的期间出现的恐慌并恢复它.
这条路, 你的服务器将始终可用.
它也可以以这种恐慌报告哨兵例如!
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="white" >}}

{{% blocks/feature icon="fa fa-check-circle" title="JSON 验证" %}}
Gin 可以解析和验证的请求的JSON, 检查例如所需的值的存在.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-users-cog" title="分组路由" %}}
整理好路由.
需要授权与非必需, 不同的API版本.
此外, 该基团可以无限制嵌套，而不会降低性能.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-briefcase" title="错误管理" %}}
Gin 提供了一种方便的方法收集一个HTTP请求的过程中出现的所有错误.
终于, 中间件可以将它们写入日志文件, 到数据库，并通过网络发送他们.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="info" >}}

{{% blocks/feature icon="fa fa-images" title="内置渲染" %}}
Gin 为JSON, XML 和 HTML 渲染提供了一个易于使用的API.
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-code" title="可扩展" %}}
创建一个新的中间件是那么容易, 只需检出样品代码.
{{% /blocks/feature %}}

{{< /blocks/section >}}
